
<h2>Confirm deletion of Customer</h2>
<br />
<br /> OrderLineItem ID:
<%=orderlineitem._id %>
<br>
  OrderId:
  <%=orderlineitem.orderID%>
  <br />lineNumber:
    <%=orderlineitem.lineNumber%>
      <br /> productKey:
      <%=orderlineitem.productKey%>
        <br /> quantity:
        <%=orderlineitem.quantity%>
    

  <form method="get" action="/orderlineitem">
    <input type="submit" value="Return to list" class="btn btn-caution" />
  </form>

  <br />
  <form method="POST" action="/orderlineitem/delete/<%=orderlineitem._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
  </form>