<br/>
<br/>
<h2>Details of orderline</h2>
<br />
<br /> OrderLineItem ID:
<%=orderlineitem._id %>
<br>
  OrderId:
  <%=orderlineitem.orderID%>
  <br />lineNumber:
    <%=orderlineitem.lineNumber%>
      <br /> productKey:
      <%=orderlineitem.productKey%>
        <br /> quantity:
        <%=orderlineitem.quantity%>
      
            <br/>
            <br/>
            <form method="get" action="/orderlineitem">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>