<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="orderID">orderId</label>
        <input type="number" class="form-control" id="orderID" name="orderID" value="<%= orderlineitem.orderID %>" required>
      </div>
  
       <div class="form-group">
        <label for="lineNumber">lineNumber</label>
        <input type="number" class="form-control" id="lineNumber" name="lineNumber" value="<%= orderlineitem.lineNumber %>" required>
      </div> 
      <div class="form-group">
        <label for="productKey">Product name</label>
        <input type="text" class="form-control" id="productKey" name="productKey" value="<%= orderlineitem.productKey %>" required>
      </div> 
      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="<%= orderlineitem.quantity %>" required>
      </div>
      
    </div>
  </div>
  <hr>