<div class="container">
    
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><h4>E-Commerce</h4></a>
        <a class="navbar-brand" href="/"><h4> Welcome</h4></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/customer"><h4>Customer</h4></a>
          </li>
          <li>
              <a href="/order"><h4>Order</h4></a>
            </li>
            <li>
                <a href="/product"><h4>Product</h4></a>
              </li>
              <li>
                  <a href="/orderlineitem"><h4>OrderLinetem</h4></a>
              </li>
              <li>
              
                <a href="/about"><h4>about</h4></a>
              </li>
                  
                
                
              
                  

                
         
        </ul>

      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>

