<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <h1>Ecommerce!</h1>
            <br />
            <h2>Use this area to display information. </h2>
            <br />
            <hr>
            <h3>During development,test your api here.</h3>
            <br />
            <br />
            <h4>GET a view</h4>
            <ol>
                <li>
                    <a href="/customer">customer</a>
                </li>
                <li>
                    <a href="/customer/create">customer/create</a>
                </li>
                <li>
                    <a href="/customer/edit/1">customer/edit/1</a>
                </li>
                <li>
                    <a href="/customer/edit/2">customer/edit/2</a>
                </li>
                <li>
                    <a href="/customer/edit/3">customer/edit/3</a>
                </li>
                <li>
                    <a href="/customer/edit/4">customer/edit/4</a>
                </li>
                <li>
                    <a href="/customer/edit/5">customer/edit/5</a>
                </li>
                <li>
                    <a href="/customer/details/1">customer/details/1</a>
                </li>
                <li>
                    <a href="/customer/details/2">customer/details/2</a>
                </li>
                <li>
                    <a href="/customer/details/3">customerdetails/3</a>
                </li>
                <li>
                    <a href="/customer/details/4">customer/details/4</a>
                </li>
                <li>
                    <a href="/customer/details/5">customer/details/5</a>
                </li>
                <li>
                    <a href="/customer/delete/1">customer/delete/1</a>
                </li>
                <li>
                    <a href="/customer/delete/2">customer/delete/2</a>
                </li>
                <li>
                    <a href="/customer/delete/3">customer/delete/3</a>
                </li>
                <li>
                    <a href="/customer/delete/4">customer/delete/4</a>
                </li>
                <li>
                    <a href="/customer/delete/5">customer/delete/5</a>
                </li>
                <br>

                <li>
                    <a href="/order">/Order</a>
                </li>
                <li>
                    <a href="/order/create">order/create</a>
                </li>
                <li>
                    <a href="/order/edit/1">order/edit/1</a>
                </li>
                <li>
                    <a href="/order/edit/2">order/edit/2</a>
                </li>
                <li>
                    <a href="/order/edit/3">order/edit/3</a>
                </li>
                <li>
                    <a href="/order/edit/4">order/edit/4</a>
                </li>

                <li>
                    <a href="/order/details/1">order/details/1</a>
                </li>
                <li>
                    <a href="/order/details/2">order/details/2</a>
                </li>
                <li>
                    <a href="/order/details/3">order/details/3</a>
                </li>
                <li>
                    <a href="/order/details/4">order/details/4</a>
                </li>

                <li>
                    <a href="/order/delete/1">order/delete/1</a>
                </li>
                <li>
                    <a href="/order/delete/2">order/delete/2</a>
                </li>
                <li>
                    <a href="/order/delete/3">order/delete/3</a>
                </li>
                <li>
                    <a href="/order/delete/4">order/delete/4</a>
                </li>

                <br>



                <li>
                    <a href="/orderlineitem">orderline</a>
                </li>

                <li>
                    <a href="/orderlineitem/create">orderlineitem/create</a>
                </li>
                <li>
                    <a href="/orderlineitem/edit/1">orderlineitem/edit/1</a>
                </li>
                <li>
                    <a href="/orderlineitem/edit/2">orderlineitem/edit/2</a>
                </li>
                <li>
                    <a href="/orderlineitem/edit/3">orderlineitem/edit/3</a>
                </li>
                <li>
                    <a href="/orderlineitem/edit/4">orderlineitem/edit/4</a>
                </li>

                <li>
                    <a href="/orderlineitem/details/1">orderlineitem/details/1</a>
                </li>
                <li>
                    <a href="/orderlineitem/details/2">orderlineitem/details/2</a>
                </li>
                <li>
                    <a href="/orderlineitem/details/3">orderlineitem/details/3</a>
                </li>
                <li>
                    <a href="/orderlineitem/details/4">orderlineitem/details/4</a>
                </li>

                <li>
                    <a href="/orderlineitem/delete/1">orderlineitem/delete/1</a>
                </li>
                <li>
                    <a href="/orderlineitem/delete/2">orderlineitem/delete/2</a>
                </li>
                <li>
                    <a href="/orderlineitem/delete/3">orderlineitem/delete/3</a>
                </li>
                <li>
                    <a href="/orderlineitem/delete/4">orderlineitem/delete/4</a>
                </li>

                <br>



                <li>
                    <a href="/product">product</a>
                </li>

                <li>
                    <a href="/product/create">product/create</a>
                </li>
                <li>
                    <a href="/product/edit/1">product/edit/1</a>
                </li>
                <li>
                    <a href="/product/edit/2">product/edit/2</a>
                </li>
                <li>
                    <a href="/product/edit/3">product/edit/3</a>
                </li>
                <li>
                    <a href="/product/edit/4">product/edit/4</a>
                </li>

                <li>
                    <a href="/product/details/1">product/details/1</a>
                </li>
                <li>
                    <a href="/product/details/2">product/details/2</a>
                </li>
                <li>
                    <a href="/product/details/3">product/details/3</a>
                </li>
                <li>
                    <a href="/product/details/4">product/details/4</a>
                </li>

                <li>
                    <a href="/product/delete/1">product/delete/1</a>
                </li>
                <li>
                    <a href="/product/delete/2">product/delete/2</a>
                </li>
                <li>
                    <a href="/product/delete/3">product/delete/3</a>
                </li>
                <li>
                    <a href="/product/delete/4">product/delete/4</a>
                </li>
            </ol>
            <br>
            <h4>GET JSON</h4>
            <ol>
                <li>
                    <a href="/customer/findall">customer/findall</a>
                </li>
                <li>
                    <a href="/customer/findone/1">customer/findone/1</a>
                </li>
                <li>
                    <a href="/customer/findone/2">customer/findone/2</a>
                </li>
                <li>
                    <a href="/customer/findone/3">customer/findone/3</a>
                </li>
                <li>
                    <a href="/customer/findone/4">customer/findone/4</a>
                </li>
                <li>
                    <a href="/customer/findone/4">customer/findone/4</a>
                </li>
                <li>
                    <a href="/customer/findone/5">customer/findone/5</a>
                </li>
                <br>

                <li>
                    <a href="/order/findall">order/findall</a>
                </li>
                <li>
                    <a href="/order/findone/1">order/findone/1</a>
                </li>
                <li>
                    <a href="/order/findone/2">order/findone/2</a>
                </li>
                <li>
                    <a href="/order/findone/3">order/findone/3</a>
                </li>
                <li>
                    <a href="/order/findone/4">order/findone/4</a>
                </li>

                <br>

                <li>
                    <a href="/orderlineitem/findall">orderlineitem/findall</a>
                </li>
                <li>
                    <a href="/orderlineitem/findone/1">orderlineitem/findone/1</a>
                </li>
                <li>
                    <a href="/orderlineitem/findone/2">orderlineitem/findone/2</a>
                </li>
                <li>
                    <a href="/orderlineitem/findone/3">orderlineitem/findone/3</a>
                </li>
                <li>
                    <a href="/orderlineitem/findone/4">orderlineitem/findone/4</a>
                </li>

                <br>

                <li>
                    <a href="/product/findall">product/findall</a>
                </li>
                <li>
                    <a href="/product/findone/1">product/findone/1</a>
                </li>
                <li>
                    <a href="/product/findone/2">product/findone/2</a>
                </li>
                <li>
                    <a href="/product/findone/3">product/findone/3</a>
                </li>
                <li>
                    <a href="/product/findone/4">product/findone/4</a>
                </li>

                


            </ol>


        </div>
    </div>
</div>