


<br/>
<br/>
<h2>Confirm deletion of order</h2>
<br/>
<br/> ID:
<%=order._id %>
<br> DATE PLACED:
<%=order.datePlaced %>
<br> DATE SHIPPED:
<%=order.dateShipped %>
<br> PAYMENT TYPE:
<%=order.paymentType %>
 <br>AMOUNT DUE:
<%=order.amountDue %>
 <br>PAYMENT:
<%=order.paid %>
 <br>CUSTOMER:
<%=order.customer_id %>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
            <br/>
            <form method="POST" action="/order/delete/<%= order._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>