<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <a href="customer/create" class="btn btn-primary new">
          Create a new customer
        </a>
        <h2>Recent customer entries</h2>
        <p>There are
          <%= customers.query.length %> customers.
      </p>
      <% for ( let i = 0; i < customers.query.length; i++) {   
        customer = customers.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=customer._id %>
            <br> email:
            <%=customer.email%>
            <br> given:
            <%=customer.given %>
            <br> family:
            <%=customer.family %>
             <br> street1:
            <%=customer.street1 %>
             <br>street2:
            <%=customer.street2 %>
             <br>city:
            <%=customer.city %>
                <br>state:
             <%=customer.state %>
                 <br>zip:
                 <%=customer.zip %>
                     <br>country:
                     <%=customer.country %>
                           
            
      <br>
      <br>
      <a href="customer/delete/<%= customer._id %>" class="btn btn-danger"> Delete </a>
      <a href="customer/details/<%= customer._id %>" class="btn btn-info"> Details </a>
      <a href="customer/edit/<%= customer._id %>" class="btn btn-warning"> Edit </a>
    </div>
    </div>
      <% } %>
   
  </div>
  </div>
  </div>
  
  